* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: auto;
}

.container {
  padding-top: 100px;
  padding-bottom: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(./mywallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.display {
  padding-top: 50px;
  height: 100px;
  border: 1px black solid;
  width: 400px;
  background-color: #464647;
  font-size: 30px;
}

.display p {
  text-align: right;
  color: #ffffff;
}

.grid {
  border: 0px black solid;
  width: 400px;
  margin: auto;
}

.input {
  width: 100px;
  height: 75px;
  background-color: bisque;
  border: 1px black solid;
  font-size: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.input:active {
  background-color: black;
  color: white;
  animation: pulse 0.4s infinite alternate;
}

#input3 {
  background-color: #ff9f0a;
}

#input3:active {
  background-color: blue;
}
#input7 {
  background-color: #ff9f0a;
}
#input7:active {
  background-color: blue;
}
#input11 {
  background-color: #ff9f0a;
}
#input11:active {
  background-color: blue;
}

#input15 {
  background-color: #ff9f0a;
}

#input15:active {
  background-color: blue;
}

#input16 {
  width: 200px;
}
